html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	height: calc(100% - 1em);
	padding-top: 1em;
}

.hidden {
	display: none;
}

button {
	height: 2em;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	font-family: Roboto medium;
	text-transform: uppercase;
	font-size: 20pt;
	padding: 0 0.5em;
	margin: 0 0.6em;
	background-color: #2196f3;
	color: white;
	box-shadow: 1px 1px #aaa;
}

button:hover {
	cursor: pointer;
}

section {
	display: none;
}

.grid_right {
	width: 100%;
	overflow: auto;
	margin-left: -1px;
}

.grid_action {
	padding-top: 1em;
	width: 80%;
	margin: 0 auto;
}

h3, h4 {
	padding-left: 1em;
	float: left;
}

h4 {
	clear: both;
	color: #666;
	margin: 0;
}

.form_elem {
	display: inline-block;
	float: right;
}

.grid_items {
	width: 100%;
	padding: 0;
}
.grid_left {
	border-right: 1px solid #ddd;
	padding-top: 20px;
}

.grid_items li label {
	list-style: none;
	border-top: 1px solid #ddd;
	padding: 2em 1em;
	display: block;
}

.grid_items li:last-of-type label {
	border-bottom: 1px solid #ddd;
}

input[name="layouts"]:checked ~ span,
input[name="commands"]:checked ~ span {
	border-right: 2px solid orange;
}

input[name="layouts"]:checked ~ label,
input[name="commands"]:checked ~ label {
	border-left: 1px solid white;
}

main {
  min-width: 320px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  height: 90%;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-top-left-radius: 0;
}

input[type="radio"] {
	display:none;
}

input:checked + label {
	color: #555;
}

main > input:checked + label {
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

label:hover, #reset:hover {
  color: #888;
  cursor: pointer;
}

.ul {
	list-style: none;
}

label, #reset {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#reset:hover {
	background-color: #e51c23;
	color: #ddd;
}

#reset {
	text-transform: uppercase;
	border: 1px solid #ddd;
	float: right;
}

canvas {
	max-width: 30em;
	display: block;
	margin: 0 auto;
	border: 1px solid;
}

#previews {
	display: flex;
	flex-wrap: wrap;
}

#previews div {
	padding: 1em;
	flex-shrink: 1;
}

.grid_items li {
	display: grid;
	grid-template-columns: 1fr 5em;
}

.stopButton {
    border: 1px solid #ddd;
    padding: 2em 1em;
	text-transform: uppercase;
}

.stopButton:hover {
	background-color: #ddd;
    cursor: pointer;
	color: #555;
}


#tabl:checked ~ #layouts,
#tabc:checked ~ #commands {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.form_elem {
	display: block;
}

input[type="checkbox"] {
	position: relative;
	vertical-align: -10px;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

input[type="checkbox"]:after {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -2px;
	margin-right: 5px;
	border: 2px solid #666;
	border-radius: 2px;
	-webkit-transition: 240ms;
	-o-transition: 240ms;
	transition: 240ms;
}

input[type="checkbox"]:checked:before {
	content: "";
	position: absolute;
	top: 0;
	left: 6px;
	display: table;
	width: 6px;
	height: 12px;
	border: 2px solid #fff;
	border-top-width: 0;
	border-left-width: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

input[type="checkbox"]:checked:after {
	background-color: #2196F3;
	border-color: #2196F3;
}

input[type="text"], ul li select {
	padding: 5px 1em;
	border-radius: 3px;
	background-color: white;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 1.846;
	width: 90%;
	margin: 0 auto;
}

input:invalid {
	border: 1px solid red;
}

input[type='text']:valid:not(:placeholder-shown) {
	border: 1px solid green;
}

.ul li {
	text-align: center;
}

.ul li label {
	text-align: left;
	display: block;
}

ul {
	padding: 0;
	margin: 0;
	clear: both;
}

.api-error {
    position: fixed;
    left: 0;
	width: 100%;
    top: 50%;
    background-color: red;
    padding: 1em;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}


select {
	padding: 5px;
	font-size: 13px;
	line-height: 1.846;
	color: #666;
	background-color: rgba(255, 255, 255, 0);
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}
